<div class="ribbon">
  <div *ngFor="let group of groupList" class="ribbon-grp">

    <div *ngIf="collapse == false">
      <div *ngIf="group.type == grpType.LABEL">
        <label *ngFor="let obj of group.items"
          class="ribbon-label">
          {{obj.label}}
        </label>
      </div>

      <div *ngIf="group.type == grpType.BUTTON" class="mwa-button-group">
        <button *ngFor="let obj of group.items"
          class="ribbon-btn mwa-button"
          (click)="obj.func()">
          {{obj.label}}
        </button>
      </div>

      <div *ngIf="group.type == grpType.CHECKBOX" class="ribbon-checkbox-grp">
        <div *ngFor="let obj of group.items" class="ribbon-checkbox">
          <input type="checkbox" checked="{{obj.checked}}">
          <label class="ribbon-label">{{obj.label}}</label>
        </div>
      </div>
    </div>

    <div *ngIf="collapse == true">
      <label *ngIf="group.type == grpType.LABEL" class="ribbon-label">
        {{group.title}}
      </label>

      <div *ngIf="group.type != grpType.LABEL">
        <div dropdown class="ribbon-dropdown">
          <button dropdownToggle type="button" class="dropdown-toggle ribbon-btn">
            {{group.title}}<span class="caret"></span>
          </button>

          <div *ngIf="group.type == grpType.BUTTON">
            <div *dropdownMenu class="dropdown-menu" role="menu">
              <button *ngFor="let obj of group.items"
                role="menuitem"
                class="dropdown-item ribbon-btn"
                (click)="obj.func()">
                {{obj.label}}
              </button>
            </div>
          </div>

          <div *ngIf="group.type == grpType.CHECKBOX" class="ribbon-checkbox-grp">
            <div *ngFor="let obj of group.items" class="ribbon-checkbox">
              <input type="checkbox" checked="{{obj.checked}}">
              <label class="ribbon-label">{{obj.label}}</label>
            </div>
          </div>
        </div>
      </div>

  </div>
</div>


