.ribbon {
    width: 100%;
    height: 50px;
    color: #f2f2f2;
    background-color: #5a5a5a;
    border-top: solid 1px #808080;
    display: flex;
    margin: 0;
    font-family: "Segoe UI", Arial, sans-serif;
    justify-content: space-around;
}

.ribbon-grp {
    display: flex;
    align-items: center;
    margin: 10px;
}

.ribbon-label {
    /*color: @text-light;*/
    /*background-color: @bg-dark;*/
}

.ribbon-btn {
    line-height: 34px;
    padding-left: 5px;
    padding-right: 5px;
    margin: 0 2px;
}

.ribbon-btn:hover {
    cursor: pointer;
    /*color: @text-colour;*/
    /*box-shadow: 0 1px 8px @bg-colour;*/
}

.ribbon-checkbox-grp {
    display: flex;
    flex-flow: wrap;
    flex-direction: column;
    height: 50px;
    /*color: @text-light;*/
    /*background-color: @bg-dark;*/
}

.ribbon-dropdown {
    flex-direction: column;
}

label, input {
    font-family: "Segoe UI", Arial, sans-serif;
    margin: inherit;
    font-weight: inherit;
}

input:hover {
    cursor: pointer;
}