.mwa-button-group {
    float: left;
    display: flex;
    margin: 8px 15px;
}

.mwa-button {
    background: #5a5a5a;
    color: #f2f2f2;
    display: inline-block;
    text-align: center;
    border: solid 1px #808080;
    border-radius: 6px;
}

.mwa-button:hover {
    background: #000;
    cursor: pointer;
    box-shadow: 5px 6px 8px 0 rgba(255,255,255,0.25)
}
