<h1>MWA Monitor Home Page</h1>

<div class="email-address-container" id="email-address-container">
  <label class="input-label">Email Address:</label>
  <input type="text" id="email-input">
  <button class="confirm-input" (click)="saveInput()">Confirm</button>
</div>

<div class="subscriber-container">
  <table class="subscriber-table">
    <tr class="subscriber-table-label">
      <td colspan="1">Active Mailing List</td>
      <td colspan="1" class="subscriber-table-button">
        <button class="mwa-button add-subscriber" (click)="showQuerySubscriber()">Add Subscriber</button>
      </td>
    </tr>
    <tr class="subscriber-table-header">
      <td>Email Address</td>
      <td>Action</td>
    </tr>
    <tr class="subscriber-table-body" *ngFor="let element of this.subscribers">
      <td>{{element.email_address}}</td>
      <td>
        <button class="delete-button" (click)="deleteEmail(element.email_address)">Delete</button>
      </td>
    </tr>
  </table>
</div>