.subscriber-container {
  position: absolute;
  left: 30%;
  top: 20%;
  width: 40%;
  height: 70%;
  border: solid 1px #c1c1c1;
  overflow: scroll;
  border-radius: 6px;
}

.subscriber-table {
  position: inherit;
  table-layout: fixed;
  width: 100%;
  font-family: "Segoe UI", Arial, sans-serif;
  font-size: 1em;
  text-align: center;
}

.subscriber-table-label {
  padding: 1% 1% 1% 1%;
  text-align: left;
  font-weight: bold;
  color: white;
  background-color: #5a5a5a;
  border-bottom: solid 1px black;
}

.subscriber-table-header > td {
  border-bottom: solid 1px black;
  font-weight: bold;
}

.subscriber-table-body > td {
  border-bottom: solid 1px black;
  padding-top: 3px;
  padding-bottom: 3px;
}

.delete-button {
  background-color: #f2f2f2;
  color: black;
  border: solid 1px #8c8c8c;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  cursor: pointer;
}

.mwa-button.add-subscriber {
  border: solid 1.1px white;
}

.email-address-container {
  visibility: hidden;
  position: absolute;
  top: 40%;
  left: 35%;
  border: solid 1px #c1c1c1;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  z-index: 2;
  background-color: #5a5a5a;
  padding: 5px;
}

.subscriber-table-button {
  text-align: right;
}

.input-label {
  color: whitesmoke;
}

.confirm-input {
  border: solid 1px #8c8c8c;
  border-radius: 5px;
}
