<header>
  <nav class="nav-header" role="navigation">

      <div class="branding" (click)="routeTo('home')">
        <img alt="Logo" class="logo" src="../../assets/images/mwa_logo.png">
        <span class="brand-title">MWA Monitor</span>
      </div>

      <div class="nav-item-group">
        <div *ngFor="let item of navButtons"
            class="nav-item"
            role="menuitem"
            (click)="routeTo(item.route)"
        >
          {{item.label}}
        </div>
      </div>

  </nav>
</header>