<div class="card" [style.width.px]="width" [style.height.px]="height">


  <div *ngIf="chartData.hasData" class="chart-container">
    <canvas baseChart id="{{chartData.id}}_X"
        class="chart"
        [datasets]="chartData.xPolarityData"
        [chartType]="lineChartType"
        [labels]="lineChartLabelX"
        [options]="lineChartOptionsX"
        [colors]="lineChartColours"
    ></canvas>
  </div>

  <div *ngIf="chartData.hasData" class="chart-container">
    <canvas baseChart id="{{chartData.id}}_Y"
        class="chart"
        [datasets]="chartData.yPolarityData"
        [chartType]="lineChartType"
        [labels]="lineChartLabelX"
        [options]="lineChartOptionsY"
        [colors]="lineChartColours"
    ></canvas>
  </div>

  <div class="obs-status-container">
    <div id="obs-status-x" class="obs-status-bar">
      <label>X: </label>
      <div *ngFor="let obj of chartData.xPolarityData">
        <div *ngIf="obj.anomaly" class="obs-status obs-status-anomaly">{{obj.label}}</div>
      </div>
    </div>

    <div id="obs-status-y" class="obs-status-bar">
      <label>Y: </label>
      <div *ngFor="let obj of chartData.yPolarityData">
        <div *ngIf="obj.anomaly" class="obs-status obs-status-anomaly">{{obj.label}}</div>
      </div>
    </div>
  </div>

</div>