.card {
    background-color: #f9f9f9;
    border: solid 1px grey;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}

.chart-container {
    width: 50%;
    height: calc(100% - 44px);
    position: relative;
}

.chart {
    background-color: #282828;
}

.obs-status-container {
    width: 100%;
    height: 44px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.obs-status-bar {
    height: 20px;
    display: flex;
    justify-content: space-between;
    margin: 0;
}

.obs-status {
    width: 17px;
    height: 18px;
    margin: 1px;
    line-height: 20px;
    border-radius: 5px;
}

.obs-status-good {
    background-color: #7CD972;
}

.obs-status-anomaly {
    background-color: red;
}
