<mwa-ribbon [groupList]="ribbonData"></mwa-ribbon>

<div id="cardSpace" class="card-space">
  <mwa-power-spectra-card *ngFor="let item of chartDataList"
      [width]="cardSize"
      [height]="cardSize"
      [chartData]="item"
  >
  </mwa-power-spectra-card>
</div>
