<mwa-ribbon [groupList]="ribbonData"></mwa-ribbon>

<div class="container">
  <!-- Date Range Input -->
  <div id="date-range-container" class="date-range-container">
    <label class="date-label">Start Date:</label>
      <input id="date-input-start" type="date">

    <label class="date-label">End Date:</label>
      <input id="date-input-end" type="date">

    <button class="confirm-date" id="confirm-date" (click)="filterByDateRange()">Confirm</button>
  </div>

  <!-- Number of bad Dipoles -->
  <table class="top-table" style="left: 2%">
    <tr>
      <td class="top-label">Number of Bad Dipoles</td>
    </tr>
    <tr class="top-body">
      <td>{{this.bad_dipoles_counter}}</td>
    </tr>
  </table>

  <!-- Number of tiles flagged -->
  <table class="top-table" style="left:35%">
    <tr>
      <td class="top-label">Number of Tiles Flagged</td>
    </tr>
    <tr class="top-body">
      <td>{{this.tiles_list.length}}</td>
    </tr>
  </table>

  <!-- Tiles Flagged -->
  <div id="tiles-flagged-container" class="tiles-flagged-container">
    <table class="tiles-flagged-table">
        <tr>
          <td class="tiles-flagged-label"
              colspan="2">
            Tiles Flagged
          </td>
          <td class="tiles-flagged-button"
              colspan="2">
            <button class="mwa-button view-all" (click)="viewAll()">View All</button>
          </td>
        </tr>
        <tr class="tiles-flagged-header">
          <td>Tile #</td>
          <td>Number of Anomalous Dipoles</td>
          <td>Number of Malfunctioning Dipoles</td>
          <td>Action</td>
        </tr>
        <tr class="tiles-flagged-body"
            *ngFor="let element of tiles_list"
        >
          <td>{{element.tile_name}}</td>
          <td>{{element.anomalous_dipoles}}</td>
          <td>{{element.malfunctioning_dipoles}}</td>
          <td><button class="dropbtn" (click)="route();
            saveTile(element.tile_number, element.tile_name, element.malfunctioning_dipoles, element.anomalous_dipoles, start_date_GPS, end_date_GPS)">
            Details
            </button>
          </td>
        </tr>
      </table>
    </div>

  <div class="statistics-table-container">
    <table class="statistics-table">
      <tr>
        <td class="statistics-table-label" colspan="3">Anomalous Readings</td>
      </tr>
      <tr class="statistics-table-header">
        <td>Anomaly Type</td>
        <td>Occurrence</td>
        <td>Occurrence Rate</td>
      </tr>
      <tr class="statistics-table-body"
          *ngFor="let element of occurrence_list">
        <td>{{element.anomaly_type}}</td>
        <td>{{element.occurrence}}</td>
        <td>{{element.occurrence_rate}}</td>
      </tr>
    </table>
  </div>

    <!-- Graph -->
  <table id="graph-table" class="graph-table">
    <tr>
      <td class="graph-label">Graph</td>
    </tr>
    <tr class="graph-body">
      <mwa-statistics-graph></mwa-statistics-graph>
    </tr>
  </table>
</div>
