.container {
  width: 100%;
  height: 100%;
  margin: 2% 3% 2% 3%;
}

.header-container {
  position: absolute;
  top: 0;
  left: 30%;
  text-align: center;
  font-family: "Segoe UI", Arial, sans-serif;
}

.tile-table {
  border-collapse: separate;
  table-layout: fixed;
  position: absolute;
  top: 15%;
  left: 2%;
  width: 30%;
  height: 5%;
  font-family: "Segoe UI", Arial, sans-serif;
  border: solid 1px black;
  border-radius: 6px;
}

.tile-label {
  padding: 2% 2% 2% 2%;
  text-align: left;
  font-weight: bold;
  color: white;
  background-color: #5a5a5a;
  border-bottom: solid 1px black;
}

.tile-body > td {
  text-align: center;
  padding: 2% 1% 1% 1%;
}

.graph-table {
  border-collapse: separate;
  position: absolute;
  top: 60%;
  right: 2%;
  width: 45%;
  height: 35%;
  font-family: "Segoe UI", Arial, sans-serif;
  border: solid 1px black;
  border-radius: 6px;
}

.graph-label {
  padding: 2% 2% 2% 2%;
  height: 10%;
  text-align: left;
  font-weight: bold;
  color: white;
  background-color: #5a5a5a;
  border-bottom: solid 1px black;
}

.graph-body {
  height: 100%;
}

.tile-table-header > td {
  border-bottom: solid 1px black;
  font-weight: bold;
}

.tile-table-body > td {
  text-align: center;
  border-bottom: solid 1px black;
  padding: 2% 1% 1% 1%;
}

.tile-occurrence-container {
  position: absolute;
  top: 60%;
  left: 2%;
  width: 45%;
  height: 35%;
  border-collapse: separate;
  overflow-y: scroll;
}

.tile-occurence-table {
  table-layout: fixed;
  border-collapse: separate;
  border: solid 1px black;
  width: 100%;
  border-radius: 6px;
}