<div *ngIf="hasData" class="chart-container">
  <canvas baseChart
    height="180%"
    class="chart"
    [data]="chart_data"
    [chartType]="chart_type"
    [labels]="chart_label"
    [options]="chart_options"
    [colors]="[{}]"
  ></canvas>
</div>