.container {
  width: 100%;
  height: 100%;
  margin: 2% 3% 2% 3%;
}

.top-table {
  border-collapse: separate;
  position: absolute;
  height: 10%;
  width: 30%;
  border-radius: 6px;
  border: solid 1px black;
  font-family: "Segoe UI", Arial, sans-serif;
}

.top-label {
  padding: 2% 2% 2% 2%;
  text-align: left;
  font-weight: bold;
  color: white;
  background-color: #5a5a5a;
  border-bottom: solid 1px black;
}

.top-body {
  text-align: center;
}

.statistics-table-container {
  position: absolute;
  overflow-y: scroll;
  top: 60%;
  left: 2%;
  width: 45%;
  height: 35%;
  z-index: 1;
}

.statistics-table {
  border-collapse: separate;
  top: 60%;
  width: 100%;
  font-family: "Segoe UI", Arial, sans-serif;
  border: solid 1px black;
  border-radius: 6px;
}

.statistics-table-label {
  padding: 2% 2% 2% 2%;
  text-align: left;
  font-weight: bold;
  color: white;
  background-color: #5a5a5a;
  border-bottom: solid 1px black;
}

.statistics-table-header > td {
  border-bottom: solid 1px black;
  font-weight: bold;
}

.statistics-table-body > td {
  text-align: center;
  border-bottom: solid 1px black;
  padding: 2% 1% 1% 1%;
}

.tiles-flagged-container {
  position: absolute;
  top: 28%;
  left: 2%;
  width: 96%;
  height: 30%;
  border-collapse: separate;
  overflow-y: scroll;
}

.tiles-flagged-table {
  table-layout: fixed;
  background-color: white;
  border-collapse: separate;
  border: solid 1px black;
  width: 100%;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

.tiles-flagged-label {
  padding: 1% 1% 1% 1%;
  text-align: left;
  font-weight: bold;
  color: white;
  background-color: #5a5a5a;
  border-bottom: solid 1px black;
}

.tiles-flagged-button {
  border-bottom: solid 1px black;
  background-color: #5a5a5a;
  text-align: right;
  padding: 1% 1% 1% 1%;
}

.mwa-button.view-all {
  border: solid 1.1px white;
}

.tiles-flagged-header > td {
  border-bottom: solid 1px black;
  font-weight: bold;
}

.tiles-flagged-body > td {
  border-bottom: solid 1px black;
  padding-top: 3px;
  padding-bottom: 3px;
}

.graph-table {
  border-collapse: separate;
  position: absolute;
  top: 60%;
  right: 2%;
  width: 45%;
  height: 35%;
  font-family: "Segoe UI", Arial, sans-serif;
  border: solid 1px black;
  border-radius: 6px;
  z-index: 1;
}

.graph-label {
  padding: 2% 2% 2% 2%;
  height: 10%;
  text-align: left;
  font-weight: bold;
  color: white;
  background-color: #5a5a5a;
  border-bottom: solid 1px black;
}

.graph-body {
  height: 100%;
}

.date-range-container {
  visibility: hidden;
  position: absolute;
  top: 40%;
  left: 30%;
  border: solid 1px #c1c1c1;
  border-radius: 5px;
  z-index: 2;
  background-color: #5a5a5a;
  padding: 5px;
}

.date-label {
  color: whitesmoke;
}

.confirm-date {
  border: solid 1px #8c8c8c;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.dropbtn {
  background-color: #f2f2f2;
  color: black;
  border: solid 1px #8c8c8c;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  cursor: pointer;
}