<div class="container">
  <div class="header-container">
    <h1 *ngIf="hasTile"> {{this.tile_name}} -- {{this.start_date_string}} - {{this.end_date_string}}</h1>
  </div>
  <!-- Number of Malfunctioning Dipoles -->
  <table class="tile-table">
    <tr>
      <td class="tile-label">Number of Malfunctioning Dipoles</td>
    </tr>
    <tr class="tile-body">
      <td>{{this.malfunc_counter}}</td>
    </tr>
  </table>

  <!-- Number of anomalous dipoles -->
  <table class="tile-table" style="left:35%">
    <tr>
      <td class="tile-label">Number of Anomalous Dipoles</td>
    </tr>
    <tr class="tile-body">
      <td>{{this.anomalous_counter}}</td>
    </tr>
  </table>

  <!-- Number of anomalous readings -->
  <div class="tile-occurrence-container">
    <table class="tile-occurence-table">
      <tr>
        <td class="tile-label" colspan="3">Anomalous Readings</td>
      </tr>
      <tr class="tile-table-header">
        <td>Anomaly Type</td>
        <td>Occurrence</td>
        <td>Occurrence Rate</td>
      </tr>
      <tr class="tile-table-body"
          *ngFor="let element of occurrence_list">
        <td>{{element.anomaly_type}}</td>
        <td>{{element.occurrence}}</td>
        <td>{{element.occurrence_rate}}</td>
      </tr>
    </table>
  </div>

  <!-- Graph -->
  <table class="graph-table">
    <tr>
      <td class="graph-label">Graph</td>
    </tr>
    <tr class="graph-body">
      <mwa-statistics-graph></mwa-statistics-graph>
    </tr>
  </table>

  </div>