<div class="singular-container">
  <div class="header-container">
    <h1 *ngIf="has_test">{{this.tile_data.name}} - {{this.start_time_string}}</h1>
  </div>
  <!-- Back button -->
  <button class="mwa-button back"
          (click)="routeTo('health-reports')">
    <span class="caret-left"></span>
    Back
  </button>

  <div id="filter-container" class="filter-container">
    <label class="filter-label">Anomaly Type:</label>
      <input id="filter-input" type="text">
    <button class="confirm-filter" (click)="filterByAnomalyType()">Confirm</button>
  </div>

  <!-- Total Functioning Dipole -->
  <table class="dipole-summary-table">
    <tr>
      <td class="summary-table-label" colspan="2">Total Functioning Dipoles</td>
    </tr>
    <tr class="malfunc-table-header">
      <td>X Polarity</td>
      <td>Y Polarity</td>
    </tr>
    <tr class="summary-body">
      <td>{{this.total_dipole - this.anomaly_counter_x}}</td>
      <td>{{this.total_dipole - this.anomaly_counter_y}}</td>
    </tr>
    <tr class="summary-body">
      <!-- X Polarity -->
      <td id="func-x" style="color: red">
        <span id="func-x-caret" class="caret" style="color: red;"></span>
        {{this.yesterday_func_diff_pct_x}}% from yesterday
        <span id="func-x-dropup" class="dropup" style="color: green">
          <span id="func-x-dropup-caret" class="caret" style="color: green"></span>
          {{this.week_func_diff_pct_x}}% from last week
        </span>
      </td>

      <!-- Y Polarity -->
      <td id="func-y" style="color: red">
        <span id="func-y-caret" class="caret" style="color: red;"></span>
        {{this.yesterday_func_diff_pct_y}}% from yesterday
        <span id="func-y-dropup" class="dropup" style="color: green">
          <span id="func-y-dropup-caret" class="caret" style="color: green"></span>
          {{this.week_func_diff_pct_y}}% from last week
        </span>
      </td>
    </tr>
  </table>

  <!-- Total Non-Functioning Dipole-->
  <table class="dipole-summary-table" style="left:54.5%">
    <tr>
      <td class="summary-table-label" colspan="2">Total Non-Functioning Dipoles</td>
    </tr>
    <tr class="malfunc-table-header">
      <td>X Polarity</td>
      <td>Y Polarity</td>
    </tr>
    <tr class="summary-body">
      <td>{{this.anomaly_counter_x}}</td>
      <td>{{this.anomaly_counter_y}}</td>
    </tr>
    <tr class="summary-body">
      <!-- X Polarity -->
      <td id="nonfunc-x" style="color: red">
        <span id="nonfunc-x-caret" class="caret" style="color: red;"></span>
        {{this.yesterday_nonfunc_diff_pct_x}}% from yesterday
        <span id="nonfunc-x-dropup" class="dropup" style="color: green">
          <span id="nonfunc-x-dropup-caret" class="caret" style="color: green"></span>
          {{this.week_nonfunc_diff_pct_x}}% from last week
        </span>
      </td>

      <!-- Y Polarity -->
      <td id="nonfunc-y" style="color: red">
        <span id="nonfunc-y-caret" class="caret" style="color: red;"></span>
        {{this.yesterday_nonfunc_diff_pct_y}}% from yesterday
        <span id="nonfunc-y-dropup" class="dropup" style="color: green">
          <span id="nonfunc-y-dropup-caret" class="caret" style="color: green"></span>
          {{this.week_nonfunc_diff_pct_y}}% from last week
        </span>
      </td>
    </tr>
  </table>

  <!-- Table of Malfunctioning Dipoles -->
  <div id="malfunc-table-div" class="malfunc-table-div">
    <table id="malfunc-dipoles-table" class="malfunc-dipoles-table">
        <tr>
          <td class="malfunc-table-label"
              colspan="2">
            Table of Malfunctioning Dipoles
          </td>
          <td class="malfunc-table-button"
              colspan="2">
            <button class="mwa-button filter-by-type" (click)="showFilterContainer()">Filter by Anomaly Type</button>
            <button class="mwa-button view-all" (click)="maximiseTable()">View All</button>
          </td>
        </tr>
        <tr class="malfunc-table-header">
          <td>Tile #</td>
          <td>Dipole</td>
          <TD>Polarity</TD>
          <td>Anomaly Type</td>
        </tr>
        <ng-container *ngIf="filtered == true">
          <tr class="malfunc-table-body"
              *ngFor="let element of filtered_dipoles"
          >
            <td>{{element.getTileNum()}}</td>
            <td>{{element.getDipoleId()}}</td>
            <td>{{element.getPolarity()}}</td>
            <td>{{element.getAnomaly()}}</td>
          </tr>
        </ng-container>
        <ng-container *ngIf="filtered == false">
          <tr class="malfunc-table-body"
              *ngFor="let element of anomalous_dipoles"
          >
            <td>{{element.getTileNum()}}</td>
            <td>{{element.getDipoleId()}}</td>
            <td>{{element.getPolarity()}}</td>
            <td>{{element.getAnomaly()}}</td>
          </tr>
        </ng-container>
      </table>
  </div>
</div>