.container {
    width: 99%;
    height: 91%;
    border: solid 1px #c1c1c1;
    overflow-y: scroll;
    z-index: 1;
}

.report-table {
    table-layout: fixed;
    width: 100%;
    font-family: "Segoe UI", Arial, sans-serif;
    font-size: 1em;
    text-align: center;
}

.report-table-head > td {
    border-bottom: solid 1px #c1c1c1;
    font-size: 1.15em;
    font-weight: bold;
}

.report-table-row1 > td {
    padding-top: 10px;
    padding-bottom: 5px;
    border-bottom: solid 1px #c1c1c1;
}

.report-table-row > td {
    border-bottom: solid 1px #c1c1c1;
    padding-bottom: 5px;
    padding-top: 5px;
}

.input-range-container {
    visibility: hidden;
    position: absolute;
    top: 40%;
    left: 30%;
    border: solid 1px #c1c1c1;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    z-index: 2;
    background-color: #5a5a5a;
    padding: 5px;
}

.input-label {
    color: whitesmoke;
}

.confirm-input {
    border: solid 1px #8c8c8c;
    border-radius: 5px;
}