.singular-container {
  width: 100%;
  height: 100%;
  margin: 2% 3% 2% 3%;
}

.header-container {
  position: absolute;
  top: 0;
  left: 30%;
  text-align: center;
  font-family: 'Segoe UI', Arial, sans-serif;"
}

.mwa-button.back {
  position: absolute;
  margin-right: 1%;
  top: 10%;
  left: 2%;
  width: 5%;
  height: 5%;
}

.caret-left {
  border-bottom: 4px solid transparent;
  border-top: 4px solid transparent;
  border-right: 4px solid #ffffff;
  display: inline-block;
  height: 0;
  opacity: 0.3;
  vertical-align: middle;
  width: 0;
}

.caret-left-counter {
  border-bottom: 4px solid transparent;
  border-top: 4px solid transparent;
  border-right: 4px solid;
  color: #5a5a5a;
  display: inline-block;
  height: 0;
  opacity: 0.3;
  vertical-align: middle;
  width: 0;
}

.dipole-summary-table {
  top: 10%;
  table-layout: fixed;
  border-collapse: separate;
  position: absolute;
  left: 9%;
  width: 43.5%;
  height: 5%;
  font-family: "Segoe UI", Arial, sans-serif;
  border: solid 1px black;
  border-radius: 6px;
}

.summary-table-label {
  padding: 2% 2% 2% 2%;
  text-align: left;
  font-weight: bold;
  color: white;
  background-color: #5a5a5a;
  border-bottom: solid 1px black;
}

.summary-body > td {
  text-align: center;
  font-size: 0.9em;
  padding: 2% 1% 1% 1%;
}

.malfunc-table-div {
  position: absolute;
  z-index: 1;
  top: 35%;
  left: 2%;
  width: 96%;
  height: 63%;
  border-collapse: collapse;
  border: solid 1px #c1c1c1;
  overflow-y: scroll;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

.malfunc-dipoles-table {
  position: inherit;
  table-layout: fixed;
  width: 100%;
  background-color: white;
  border: solid 1px black;
  -webkit-border-radius: inherit;
  -moz-border-radius: inherit;
  border-radius: inherit;
}

.malfunc-table-header > td {
  border-bottom: solid 1px black;
  font-weight: bold;
}

.malfunc-table-body > td {
  border-bottom: solid 1px black;
  padding-top: 3px;
  padding-bottom: 3px;
}

.malfunc-table-label {
  padding: 1% 1% 1% 1%;
  text-align: left;
  font-weight: bold;
  color: white;
  background-color: #5a5a5a;
  border-bottom: solid 1px black;
}

.malfunc-table-button {
  border-bottom: solid 1px black;
  background-color: #5a5a5a;
  text-align: right;
  padding: 1% 1% 1% 1%;
}

.mwa-button.view-all {
  border: solid 1.1px white;
}

.mwa-button.filter-by-type {
  border: solid 1.1px white;
}

.filter-container {
  visibility: hidden;
  position: absolute;
  top: 40%;
  left: 35%;
  border: solid 1px #c1c1c1;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  z-index: 2;
  background-color: #5a5a5a;
  padding: 5px;
}

.filter-label {
  color: whitesmoke;
}

.confirm-filter {
  border: solid 1px #8c8c8c;
  border-radius: 5px;
}