<mwa-ribbon [groupList]="ribbon_data"></mwa-ribbon>

<!-- Date Filter -->
<div class="input-range-container" id="date-range-container">
  <label class="input-label">Start Date:</label>
    <input id="date-input-start" type="date">

  <label class="input-label">End Date:</label>
    <input id="date-input-end" type="date">

  <button class="confirm-input" id="confirm-date" (click)="filterByDateRange()">Confirm</button>
</div>

<!-- ID Filter -->
<div class="input-range-container" id="id-range-container">
  <label class="input-label">Start ID:</label>
  <input id="id-input-start" type="number">

  <label class="input-label">End ID:</label>
  <input id="id-input-end" type="number">

  <button class="confirm-input" id="confirm-id" (click)="filterByIdRange()">Confirm</button>
</div>

<!-- Main Table -->
<div class="container">
  <table class="report-table">
    <thead>
      <tr class="report-table-head">
        <td>Report #</td>
        <td>Tile ID</td>
        <td>Date/Time of Test</td>
        <td>Flagged Dipoles</td>
        <td>Actions</td>
      </tr>
    </thead>
    <tbody>
      <tr class="report-table-row1"
          *ngFor="let element of sorted_testlist"
      >
        <td>{{element.getID()}}</td>
        <td>{{element.getTileID()}}</td>
        <td>{{element.getDateTime()}}</td>
        <td>{{element.getAnomDipoles()}}</td>
        <td><mwa-health-report-dropdown
          id={{element.getID()}}
          (click)="saveId(element.getID())"></mwa-health-report-dropdown></td>
      </tr>
    </tbody>
  </table>
</div>